
@font-face {
	font-family: 'Franklin-Gothic-Book-Regular';
	src: url('../fonts/Franklin-Gothic-Book-Regular.eot');
	src: url('../fonts/Franklin-Gothic-Book-Regular.woff') format('woff'), 
	url('../fonts/Franklin-Gothic-Book-Regular.ttf') format('truetype'), 
	url('../fonts/Franklin-Gothic-Book-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}