/*
 _____  ___    _  _______ __    __ _______ 
|___  ||   \  | ||  _____|\ \  / /|__   __|
    | || |\ \ | || |_____  \ \/ /    | |
 _  | || | \ \| ||  _____|  |  |     | | 
( |_) )| |  \   || |_____  / /\ \    | |
 \___/ |_|   \__||_______|/_/  \_\   |_|
 
*/

@import url("fonts.css");
@import url("font-awesome.css");

body {
	margin:0px;
	padding:0px;
	line-height:100%;
	font-size:20px;
	font-family:Arial, sans-serif;
	background:#fff;
}
a{
	color:#8e753a;
}
a:hover{
	color:#000;
}
a,a:focus,a:hover,a:visited,a:active{
	text-decoration:none;
	outline:none;
}
a:focus {
  color:#8e753a;
}
img{
	outline:none;
	border:none;
	max-width:100%;
}
p,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;		
	font-weight:normal;
}
ul,ol{
	list-style:none;	
	margin:0px;
	padding:0px;
}
p, h1, h2, h3, h4, h5, h6, a, div, ul, ol, li, span, strong, em, img, header, footer, nav, iframe{
	transition:all ease-in-out 0.4s;
	-moz-transition:all ease-in-out 0.4s;
	-ms-transition:all ease-in-out 0.4s;
	-o-transition:all ease-in-out 0.4s;
	-webkit-transition:all ease-in-out 0.4s;	
}
.clear{
	clear:both;	
}
.auto-area{
	margin:0px auto;
	width:1170px;	
}
#page{
	max-width:100%;
	margin:0px auto;	
}

.no-js #loader {
	display: none;
}
input[type='text'],
input[type='email'],
input[type='password'],
textarea{
	
}
select{
	
}
.btn{
		
}
.safari .no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;
}


/* ----- put your css from here ---- */


/* ----- end ---- */